@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sorts+Mill+Goudy&display=swap');
/*font-family: 'Sorts Mill Goudy', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sorts+Mill+Goudy:ital@1&display=swap');

/*italic  font-family: 'Sorts Mill Goudy', serif;
font-style: italic;*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --light-shade--: #FFF;
    --dark-shade--: #051F34;
    --main-brand-color--: #E0C0B0;
    --first-accent--: #F6F4F2;
    --second-accent--: #D9B5A1;
}

body {
    background-color: var(--first-accent--);
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}

nav .menu {
    display: block;
}

.nav-links a {
    text-decoration: none;
    padding: 5px;
    color: var(--dark-shade--);
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav-links a:hover {
    background-color: var(--light-shade--);
    border-radius: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #051F34;
    margin: 5px;
    border-radius: 2px;
}

.logo img {
    width: 95px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: space-around;
        background-color: var(--first-accent--);
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 11vh;
        background-color: var(--first-accent--);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 12px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    display: flex;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 11vh 0;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.item-img,
.item-description {
    flex: 1;
    margin: 30px;
    padding: 5px;
    text-align: left;
}

.item .item-img img {
    width: 430px;
    box-sizing: border-box;
}

.item .item-description .item-stock {
    color: #5b914b;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 6px 0;
}

.item .item-description .item-name {
    color: var(--dark-shade--);
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 25px;
    font-family: 'Sorts Mill Goudy', serif;
}

.item .item-description .item-code {
    color: var(--dark-shade--);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 35px;
}

.item .item-description .item-price {
    color: var(--dark-shade--);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 60px;
}

.item .item-description input[type="number"] {
    width: 60px;
    height: 35px;
    border: 1px solid #c2bfbe;
    border-radius: 4px;
    flex: 1;
}

.item .item-description button {
    background-color: var(--main-brand-color--);
    border: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    flex: 1;
    margin-left: 16px;
}

.item .item-description .buy {
    display: flex;
    flex-direction: row;
}

.new-collection-description p {
    color: var(--dark-shade--);
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    margin-top: 25px;
}

.description-p p {
    font-weight: 400;
    font-size: 22px;
}
.footer_logo {
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 64.3px;
}

.footer_column {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.footer_column h2 {
    margin: 20px;
    color: #051F34;
    font-weight: bolder;
    box-sizing: border-box;
    border-color: #051F34;
}

.footer-text {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    color: rgba(68, 86, 101, 0.9);
    font-weight: bold;
    font-size: 15px;
}
.menu_store,
.menu_address,
.menu_care {
    margin: 50px 0px 0px 0px;
}
.footer_column a:hover {
    color: #051F34;
}

.menu_link {
    text-align: center;
    background-image: url(../img/fon-menu-link.svg);
    background-size: cover;
    background-position: inherit;
    min-height: 120px;
    min-width: auto;
    opacity: 0.5;
    padding: 50px 10px 10px 10px;
}
.logoSocial img {
    max-width: 25px;
    padding: 0px 5px 0px 0px;
    filter: brightness(0%)
}
.menu_after_link {
    text-align: center;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(68, 86, 101);
}

@media(min-width: 760px) {
    .footer_column {
        display: flex;
        justify-content: space-evenly;
    }
    .menu_link {
    background-position: innerit;
    min-height: 240px;
    min-width: auto;
    padding: 135px 10px 10px 10px;
    }
}

#social-items img:hover {
    filter: grayscale(0%);
}